:root {
    --main-backgroundColor: #fcfcfc;
}

::before,
 ::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000e6;
}

h1 {
    color: #ffffff;
    font-size: 1.4rem;
    padding: 1.5rem;
    text-align: center;
}

main {
    background-color: var(--main-backgroundColor);
}

.main-container {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 500px;
}

.form-container {
    border: 2px solid green;
    flex: 50%;
}

.form-header {
    border: 2px solid red;
    font-size: 1.3rem;
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
    text-align: center;
}

.img-container {
    border: 2px solid yellow;
    background-image: url(resources/read-out-7371170_1920.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex: 50%;
}

footer {
    color: #fcfcfc;
    text-align: center;
}